.vc-grid .x-grid3-td-cover,
.vc-grid .x-grid3-td-language,
.vc-grid .x-grid3-td-duration {
  text-align: center; }
.vc-grid .cover,
.vc-grid .description,
.vc-grid .parameters {
  margin-left: 5px;
  white-space: normal; }
.vc-grid .cover {
  text-align: center; }
  .vc-grid .cover img {
    width: 150px;
    height: 150px;
    border-radius: 3px; }
.vc-grid .description h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 5px; }
.vc-grid .description h3 {
  font-size: 14px;
  font-weight: normal; }
.vc-grid .description h4 {
  color: #86939E;
  font-size: 16px;
  margin: 0 0 5px; }
.vc-grid .description .visibility,
.vc-grid .description .availability,
.vc-grid .description .publishedon {
  font-size: 12px;
  line-height: 24px;
  border: 1px solid;
  border-radius: 5px;
  font-weight: normal;
  padding: 0 5px;
  white-space: nowrap;
  vertical-align: top;
  text-transform: lowercase; }
  .vc-grid .description .visibility.active,
  .vc-grid .description .availability.active,
  .vc-grid .description .publishedon.active {
    color: #7DC855;
    border-color: #7DC855; }
  .vc-grid .description .visibility.hidden,
  .vc-grid .description .availability.hidden,
  .vc-grid .description .publishedon.hidden {
    color: #B5C2CD;
    border-color: #B5C2CD; }
  .vc-grid .description .visibility.free,
  .vc-grid .description .availability.free,
  .vc-grid .description .publishedon.free {
    color: #fd5c44;
    border-color: #fd5c44; }
  .vc-grid .description .visibility.paid,
  .vc-grid .description .availability.paid,
  .vc-grid .description .publishedon.paid {
    color: #0e6ffd;
    border-color: #0e6ffd; }
.vc-grid .duration,
.vc-grid .language {
  text-align: center;
  line-height: 2;
  font-size: 19px;
  text-transform: uppercase; }
.vc-grid .parameters,
.vc-grid .details {
  position: relative; }
  .vc-grid .parameters .count strong,
  .vc-grid .parameters .plays strong,
  .vc-grid .details .count strong,
  .vc-grid .details .plays strong {
    font-size: 20px;
    color: #43484D; }
  .vc-grid .parameters .publishedon,
  .vc-grid .details .publishedon {
    margin-top: 20px; }
  .vc-grid .parameters .icon,
  .vc-grid .details .icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 130px;
    opacity: 0.2;
    color: silver;
    transform: rotate(-30deg); }
.vc-grid.video .cover img {
  width: 80px;
  height: auto; }

/* window styles */
.vc-window .cover-preview {
  width: 241px;
  height: 241px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #E4E4E4; }
.vc-window.video .cover-preview {
  width: 204px;
  height: 128px; }
.vc-window.video .x-form-trigger.fetcher {
  width: 160px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 32px; }
  .vc-window.video .x-form-trigger.fetcher:before {
    content: '\f021';
    left: 0;
    right: inherit; }
.vc-window.video .x-toolbar-left {
  position: relative; }
  .vc-window.video .x-toolbar-left:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1; }

.ext-strict .x-menu-item-icon {
  top: 4px; }

/*# sourceMappingURL=theme.css.map */
