.vc-grid {
    .cover,
    .description,
    .parameters {
        margin-left: 5px;
        white-space: normal;
    }
    .cover {
        text-align: center;
        img {
            width: 150px;
            height: 150px;
            border-radius: 3px;
        }
        .preview {
            margin-top: 5px;
            display: inline-block;
            border: 1px solid;
            border-radius: 5px;
            text-decoration: none;
            padding: 0 5px;
            white-space: nowrap;
        }
    }

    .description {
        h2 {
            font-size: 20px;
            font-weight: bold;
            line-height: 1;
            margin: 0 0 5px;
        }

        h3 {
            font-size: 14px;
            font-weight: normal;
        }

        h4 {
            color: #86939E;
            font-size: 16px;
            margin: 0 0 5px;
        }

        .visibility,
        .availability {
            font-size: 12px;
            line-height: 24px;
            border: 1px solid;
            border-radius: 5px;
            font-weight: normal;
            padding: 0 5px;
            white-space: nowrap;
            vertical-align: top;

            &.active {
                color: #7DC855;
                border-color: #7DC855;
            }
            &.hidden {
                color: #B5C2CD;
                border-color: #B5C2CD;
            }

            &.free {
                color: #fd5c44;
                border-color: #fd5c44;
            }
            &.paid {
                color: #0e6ffd;
                border-color: #0e6ffd;
            }
        }
    }

    .parameters,
    .details {
        position: relative;
        min-height: 150px;
        .count,
        .plays {
            strong {
                font-size: 30px;
                color: #43484D;
            }
        }

        .time,
        .duration {
            strong {
                font-size: 24px;
                color: #86939E;
            }
        }

        .publishedon {
            margin-top: 20px;
        }

        .icon {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 130px;
            opacity: 0.2;
            color: silver;
            transform: rotate(-30deg);
        }
    }
    &.collection {}
    &.video {
        .cover {
            img {
                height: 84px;
            }
        }
    }
    &.channel {}
}
/* window styles */
.vc-window {
    .cover-preview {
        width: 241px;
        height: 241px;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #E4E4E4;
    }
    &.collection {}
    &.video {
        .cover-preview {
            width: 204px;
            height: 128px;
        }
        .x-form-trigger.fetcher {
            width: 160px;
            padding-left: 30px;
            padding-right: 10px;
            line-height: 32px;
            &:before {
                content: '\f021';
                left: 0;
                right: inherit;
            }
        }
        .x-toolbar-left {
            position: relative;
            &:after {
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 40px;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.1;
            }
        }
        &.mp4 .x-toolbar-left:after {
            content: '\f008';
        }
        &.vimeo .x-toolbar-left:after {
            content: '\f27d';
        }
        &.youtube .x-toolbar-left:after {
            content: '\f167';
        }
        &.hls .x-toolbar-left:after {
            content: '\f179';
        }
    }
    &.channel {}
}

// override
.ext-strict .x-menu-item-icon {
    top: 4px;
}
